# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Pipenv
Pipfile.lock

# dotenv
.env

# Migrations (optional, only if you don't want to track them initially)
# **/migrations/
